{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Share Map</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
  <meta name="robots" content="noindex,nofollow,noarchive">
  <link rel="stylesheet" href="{% static 'smap/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
</head>
<body>
  <header class="topHud">
    <div class="topHud__icon"><a class="modal__open" data-target="seasma"><img src="{% static 'smap/img/search.svg' %}" alt="検索"></a></div>
    <p class="topHud__title">Share-Map</p>
    <div class="topHud__icon"><a class="modal__open" data-target="about"><img src="{% static 'smap/img/about.svg' %}" alt="概要"></a></div>
  </header>
  <main>
    <div id="map"></div>
    <script src="{% static 'smap/script.js' %}"></script>
    <script
      async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP7y4SQBi2YjkNenggVRJCkl8aWmTS38s&callback=getLocation">
    </script>
    <div id="insma" class="sma">
      <p class="sma__lead">スマる</p>
      <div class="sma__message">
        <textarea id="message" cols="30" rows="15" placeholder="input すまり"></textarea>
      </div>
      <div class="sma__tags">
        <textarea id="tags" cols="30" rows="1" placeholder="tags"></textarea>
      </div>
      <div class="sma__twoBtn">
        <div id="inbtn" class="sma__twoBtn__btn"><img src="{% static 'smap/img/smaru.svg' %}" alt=""></div>
        <div class="sma__twoBtn__btn modal__close"><img src="{% static 'smap/img/back.svg' %}" alt=""></div>
      </div>
    </div>
    <div id="seasma" class="sma">
      <p class="sma__lead">タグ検索</p>
      <div class="sma__message">
        <!--<textarea id="seatag" cols="30" rows="15" placeholder="input one tag"></textarea>-->
        <div id="tags" height="200px"></div>
      </div>
      <div class="sma__twoBtn">
        <div id="seabtn" class="sma__twoBtn__btn"><img src="{% static 'smap/img/searchBtn.svg' %}" alt=""></div>
        <div class="sma__twoBtn__btn modal__close"><img src="{% static 'smap/img/back.svg' %}" alt=""></div>
      </div>
    </div>
    <div id="about" class="sma modal__close">
      <p class="sma__lead">SMAPへようこそ</p>
      <p class="sma__text">
        SMapは、日常での新発見を目的としたコミュニケーションサービスです。<br>
        位置情報を利用して、周囲の人々と発見をシェアしましょう！<br>
        <br>
        <span class="is-red">1.</span>MAP画面下の吹き出しボタンをタップ(クリック)し、呟きをタグ付けして発信してみましょう。(スマる)<br>
        <span class="is-red">2.</span>MAPに表示されたマーカーをタップ(クリック)して周囲の呟き(スマり)を見てみましょう。新たな発見があるかも？<br>
        <span class="is-red">3.</span>新たな発見が出来たら、[good]ボタンを押して応援してあげよう。<br>
        <span class="is-red">add.</span>左上の検索アイコンをタップ(クリック)して、関連タグを検索をしてみよう。欲しい情報が見つかるかも？
      </p>
    </div>
  </main>
  <footer class="bottomHud">
    <div class="modal">
      <div class="smaru"><a class="modal__open" data-target="insma"><img src="{% static 'smap/img/btn.svg' %}" alt="sumaru"></a></div>
    </div>
  </footer>
</body>
<script src="{% static 'smap/modal.js' %}" type="text/javascript"></script>
</html>
